body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(232,232,232);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}


.titulo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(17, 52, 213);
}

.titulo-text {
    font-family: sans-serif;
    color: rgb(232,232,232);
    font-size: larger;
}

.logo {
    width: 100px;
}

.dash {
    width: 60%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 52, 213);
    width: 150px;
    height: 190px;
    padding: 20px;
    border-radius: 20px;
}

.item p {
    color: rgba(203, 201, 227, 0.844);
    font-family: sans-serif;
    font-size: smaller;
}

.titulo-item {
    font-family: sans-serif;
    color: rgb(232,232,232);
}

.button-item {
    background-color: transparent;
    border: 1px solid rgb(232,232,232);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: rgb(232,232,232);
    transition: all 0.2s ease;
}

.button-item:hover {
    background-color: rgb(232,232,232);
    color: rgb(17, 52, 213);
}

.display {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: rgb(17, 52, 213);
    padding-bottom: 30px;
}

.retorno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    width: 100%;
    background-color: rgb(17, 52, 213);
}

.title-retorno {
    font-family: sans-serif;
    color: rgb(232,232,232);
    padding-bottom: 10px;
}

.retorno button {
    margin-bottom: 30px;
}

.cards {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    padding: 20px;
    border-radius: 16px;
    background-color: rgb(232,232,232);
}

.card-h4 {
    font-family: sans-serif;
    text-transform:uppercase;
    text-align: center;
}

.card-p {
    font-family: sans-serif;
    text-align: center;
}

.card-pId {
    display: none;
}

.card-button {
    background-color: transparent;
    border: 1px solid rgb(17, 52, 213);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: rgb(17, 52, 213);
    transition: all 0.2s ease;
    margin-top: 10px;
}

.card-button:hover {
    background-color: rgb(17, 52, 213);
    color: rgb(232,232,232);
}